<h1>Admin::Dashboard#show</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Product Count</th>
      <th>Category Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @product_count %>
        <br>
        <%= link_to "Products", [:admin, :products], class: 'btn btn-info' %> 
      </td>
      <td>
        <%= @category_count %> <br>
        <% @categories.each do |category| %>
          <%= link_to category.name, category, class: 'btn btn-info' %>
          <br>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>